.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 50px;
}
.btn1{
    background-color: green;
    color: white;
    
}
footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-elec{
    flex: 1 200px;
    padding: 2px 2px 4px 5px;
    margin-top: 10px;
}

.tab-content {
    padding-top: 10px;
}