.jumbotron {
  background-color: #eeff00;
  color: #1d1c1c;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn1 {
  background-color: #0cc01e;
  color: #f3f1f1; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #eeff00;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-elec {
  flex: 1 200px;
  padding: 2px 2px 4px 5px;
  margin-top: 10px;
  margin-bottom: 0px; }

.tab-content {
  padding-top: 10px; }
