$yellow:#eeff00;
$green: #12ec28;
$black: #1d1c1c;
$white: #f3f1f1;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $yellow;
    color: $black;
    @include margenes(50px, 0px )
    //margin-top: 50px;
}
.btn1{
    background-color: $green;
    color: $white;
    
}
footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0px )
    //margin-bottom: 0px;
    //margin-top: 10px;
}

.card-elec{
    flex: 1 200px;
    padding: 2px 2px 4px 5px;
    //margin-top: 10px;
    @include margenes(10px, 0px)
}

.tab-content {
    padding-top: 10px;
}