@yellow:#fbff0f;
@green: #208c2b;
@black: #000000;
@white: #ffffff;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: @black;
    .margenes(50px,0px);
    //margin-top: 50px;
    //margin-bottom: 0px;
 }
  
.btn1 {
    background-color: @green;
    color: @white; 
}
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(10px, 0px);
    //margin-top: 10px;
    //margin-bottom: 0px; 
}
  
  .card-elec {
    flex: 1 200px;
    padding: 2px 2px 4px 5px;
    .margenes(10px, 0px)
    //margin-top: 10px;
    //margin-bottom: 0px; 
}
  
  .tab-content {
    padding-top: 10px; }