.jumbotron {
  background-color: #fbff0f;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn1 {
  background-color: #208c2b;
  color: #ffffff;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #fbff0f;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-elec {
  flex: 1 200px;
  padding: 2px 2px 4px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.tab-content {
  padding-top: 10px;
}
